
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/styles.css"hr rel="stylesheet" />
</head>
<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">StarLiberi</a>
            <button class="text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                Voltar
            </button>
        </div>
    </nav>
    <!-- Masthead-->
    <br />
    <br />
    <br />
    <form method="post" action="./" id="form1">
        <div>
        </div>
        <div>
        </div>

        <div id="LoginFora" style="width: 380px; margin: 0 auto; margin-top: 70px; text-align: center;">
            <img id="logo" src="~/assets/img/portfolio/Logo_Login.png" alt="StarLiberi" title="StarLiberi">

            <div id="LoginDentro" style="margin-top: 25px; text-align: left;
              padding: 26px 24px 20px;
              box-shadow: rgba(65,105,225,0.7) 0 4px 10px -1px;  background-color: #87CEFA;">
                Login:<br>
                <input name="login" type="text" autocomplete="off" maxlength="80" size="40" id="login" tabindex="1" autofocus="autofocus">
                <br>
                <br>
                Senha:<br>
                <input name="senha" type="password" autocomplete="off" maxlength="100" size="40" id="senha" tabindex="2">
                <br>
                <br>
                <a href="/PosLogin/Index">
                    <input type="button" name="entrar" value="ENTRAR" id="entrar" tabindex="3">
                </a>

                <br>
                <br>
                <br>

                <a id="EsqueceuSenha" tabindex="4">Esqueceu a senha?</a>

            </div>
        </div>

    </form>
    @RenderBody();
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Contact form JS-->
    <script src="~/assets/mail/jqBootstrapValidation.js"></script>
    <script src="~/assets/mail/contact_me.js"></script>
    <!-- Core theme JS-->
    <script src="~/js/scripts.js"></script>


</body>
</html>



